.pfp {
height: 35px;
width: 35px;
border-radius: 50%;
}

.profile-img {
  padding-right: 10px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e1dedc;
  padding: 15px 50px 0px 50px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username {
  font-weight: 600;
  color: #0f193d;
  padding-right: 10px;
  font-size: 14px;
}

.menu-btn {
	background: none;
	color: #868ca1;
	border: none;
	padding: 10px 20px 15px 20px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-weight: 600;
  border-bottom: 3px solid transparent;
}

.menu-btn:hover {
color: #0f193d;
border-bottom: 3px solid #ff7163;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchbar input{
  padding: 8px 10px 8px 33px;
  border: 1px solid #e1dedc;
  border-radius: 6px;
  width: 190px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.search-icon {
  margin-left: .7rem;
  top: 23px;
  position: absolute;
}