.pfp {
height: 35px;
width: 35px;
border-radius: 50%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  border-bottom: 1px solid #e1dedc;
  padding: 15px 30px 8px 30px;
}

.profile {
  display: flex;
  flex-direction: row;
}
